$tan: #b6aa96;
$blue: #748a8b;
@font-face {
    font-family: 'goudy_trajan_regularregular';
    src: url('../fonts/goudytrajan-regular-trial-webfont.eot');
    src: url('../fonts/goudytrajan-regular-trial-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/goudytrajan-regular-trial-webfont.woff2') format('woff2'),
         url('../fonts/goudytrajan-regular-trial-webfont.woff') format('woff'),
         url('../fonts/goudytrajan-regular-trial-webfont.ttf') format('truetype'),
         url('../fonts/goudytrajan-regular-trial-webfont.svg#goudy_trajan_regularregular') format('svg');
    font-weight: normal;
    font-style: normal;

}
html, body, body#wrapper{
    overflow-x: hidden !important;
}
body{
	background-image: url('https://s3.amazonaws.com/myfangate.com/wagewar/background.jpg');
	overflow-x: hidden;
}
.full-w{
	width: 100%;
}
h1, h2, h3, h4, h5, p, b, strong{
	font-family: 'goudy_trajan_regularregular' !important;
    letter-spacing: 2px;
}
.blue{
    color: $blue;
}
.tan{
    color: $tan;
}
.shadow{
    text-shadow: 1px 1px 10px black;    
}
.contest-btn{
    background-color: $blue !important;
    border-color: $tan !important;
}
.border, .bundle img{     
    border: 15px solid transparent;    
    border-image-source: url('https://s3.amazonaws.com/myfangate.com/wagewar/lite-bg.jpg');
    border-image-repeat: round;
    border-image-slice: 30;
    border-image-width: 15px; 
    -webkit-border: 15px solid transparent;    
    -webkit-border-image-source: url('https://s3.amazonaws.com/myfangate.com/wagewar/lite-bg.jpg');
    -webkit-border-image-repeat: round;
    -webkit-border-image-slice: 30;
    -webkit-border-image-width: 15px;            
    -o-border: 15px solid transparent;    
    -o-border-image-source: url('https://s3.amazonaws.com/myfangate.com/wagewar/lite-bg.jpg');
    -o-border-image-repeat: round;
    -o-border-image-slice: 30;
    -o-border-image-width: 15px;     
}
.box-shadow{
    -webkit-box-shadow: 10px 10px 53px -11px rgba(0,0,0,1);
    -moz-box-shadow: 10px 10px 53px -11px rgba(0,0,0,1);
    box-shadow: 10px 10px 53px -11px rgba(0,0,0,1);
}