.border{     
    border: 15px solid transparent;    
    border-image-source: url('https://s3.amazonaws.com/myfangate.com/wagewar/lite-bg.jpg');
    border-image-repeat: round;
    border-image-slice: 30;
    border-image-width: 15px; 
    -webkit-border: 15px solid transparent;    
	-webkit-border-image-source: url('https://s3.amazonaws.com/myfangate.com/wagewar/lite-bg.jpg');
    -webkit-border-image-repeat: round;
    -webkit-border-image-slice: 30;
    -webkit-border-image-width: 15px;            
    -o-border: 15px solid transparent;    
    -o-border-image-source: url('https://s3.amazonaws.com/myfangate.com/wagewar/lite-bg.jpg');
    -o-border-image-repeat: round;
    -o-border-image-slice: 30;
    -o-border-image-width: 15px;     
}
.cta{
    margin-top: -100px;
    margin-bottom: 20px;
    h2{
        line-height: 10px;

    }
}
.fender-logo{
    max-width: 90px;
}
.video{
    margin-top: 0px;
}  