<div class="container contest">
  <div class="row text-center">
    <div class="col-lg-12 text-center tan shadow cta">
      <h2>SHARE THE MUSIC VIDEO FOR <span class="blue">“TWENTY ONE”</span></h2>
      <h2>AND WIN A SIGNED <img class="fender-logo" src="https://s3.amazonaws.com/myfangate.com/wagewar/tan-logo.png"> STRATOCASTER</h2>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-5 col-lg-offset-0 col-md-6 col-md-offset-0 col-sm-6 col-sm-offset-0 col-sm-push-6 col-xs-12">
      <img class="full-w" src="https://s3.amazonaws.com/myfangate.com/wagewar/fenderguitar.png">
    </div>
    <div class="col-lg-5 col-lg-offset-2 col-md-6 col-md-offset-0 col-sm-6 col-sm-offset-0 col-sm-pull-6 col-xs-12">
      <div id="contest"></div>
    </div>
  </div>
</div>
