<div class="text-center footer">
  <a href="http://www.facebook.com/WageWarOfficial" target="_blank">
    <span class="fa-stack fa-lg">
      <i class="circle fa fa-circle fa-stack-2x"></i>
      <i id="facebook" class="social-icon fa fa-facebook fa-stack-1x fa-inverse"></i>
    </span>
  </a>
  <a href="http://twitter.com/wagewarofficial" target="_blank">
    <span class="fa-stack fa-lg">
      <i class="circle fa fa-circle fa-stack-2x"></i>
      <i id="twitter" class="social-icon fa fa-twitter fa-stack-1x fa-inverse"></i>
    </span>
  </a>
  <a href="http://instagram.com/wagewarofficial/" target="_blank">
    <span class="fa-stack fa-lg">
      <i class="circle fa fa-circle fa-stack-2x"></i>
      <i id="instagram" class="social-icon fa fa-instagram fa-stack-1x fa-inverse"></i>
    </span>
  </a>
  <a href="http://www.youtube.com/channel/UCVbRGNXwrOMEZ1qzGBPf-ow" target="_blank">
    <span class="fa-stack fa-lg">
      <i class="circle fa fa-circle fa-stack-2x"></i>
      <i id="youtube" class="social-icon fa fa-youtube fa-stack-1x fa-inverse"></i>
    </span>
  </a>    
  <img src="https://s3.amazonaws.com/myfangate.com/blessthefall/esp_logo.png" width="50">  
  <a href="http://fearlessrecords.com/" target="_blank">
    <img src="https://s3.amazonaws.com/myfangate.com/blessthefall/fearlessrecords.png" width="50">
  </a>
</div>
