<!-- Update your html tag to include the itemscope and itemtype attributes. -->
<html itemscope itemtype="http://schema.org/Type">

<!-- Place this data between the <head> tags of your website -->
<title>WAGE WAR | VIDEO SHARE SWEEPSTAKES</title>
<meta name="description" content="Enter to win " />

<!-- Schema.org markup for Google+ -->
<meta itemprop="name" content="WAGE WAR | VIDEO SHARE SWEEPSTAKES">
<meta itemprop="description" content="SHARE THE MUSIC VIDEO FOR “TWENTYONE” AND WIN A SIGNED FENDER STRATOSPHERE">
<meta itemprop="image" content="https://s3.amazonaws.com/myfangate.com/blessthefall/shareimage.jpg">

<!-- Twitter Card data -->
<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:site" content="@blessthefall">
<meta name="twitter:title" content="WAGE WAR | VIDEO SHARE SWEEPSTAKES">
<meta name="twitter:description" content="SHARE THE MUSIC VIDEO FOR “TWENTYONE” AND WIN A SIGNED FENDER STRATOSPHERE">
<meta name="twitter:creator" content="@blessthefall">
<meta name="twitter:image" content="https://s3.amazonaws.com/myfangate.com/blessthefall/shareimage.jpg">

<!-- Open Graph data -->
<meta property="og:title" content="WAGE WAR | VIDEO SHARE SWEEPSTAKES" />
<meta property="og:type" content="article" />
<meta property="og:url" content="http://blessthefallmusic.com/walkonwater" />
<meta property="og:image" content="https://s3.amazonaws.com/myfangate.com/blessthefall/shareimage.jpg" />
<meta property="og:description" content="SHARE THE MUSIC VIDEO FOR “TWENTYONE” AND WIN A SIGNED FENDER STRATOSPHERE" />
<meta property="og:site_name" content="WAGE WAR" />