<div class="container">
  <div class="row">
    <div class="col-lg-12 text-center">
      <h2 class="tan shadow join">JOIN THE <span class="blue">#TWENTYONE COMMUNITY</span></h2>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-10 col-lg-offset-1">
      <div id="social-stream"></div>
    </div>
  </div>
</div>
